.expense-form {
	box-sizing: border-box;
	background-color: #6c1188;
	padding: 0.5rem;
	border-radius: 12px;
}

.expense-form form {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
	grid-auto-rows: minmax(100px, auto);
	grid-row-start: auto;
	align-items: center;
}

.expense-form form div {
	margin-left: 3rem;
	margin-right: 3rem;
	display: flex;
	flex-direction: column;
	justify-items: center;
}

.expense-form label {
	text-align: start;
	font-weight: bolder;
	color: white;
}

.expense-form input {
	width: 100%;
	font-size: large;
	height: 2.5rem;
	border-radius: 4px;
	padding-left: 0.25rem;
	padding-right: 0.25rem;
}

.expense-form__submit {
	width: 30%;
	margin-left: auto;
}

.expense-form__submit button {
	width: 60%;
	height: 70px;
	border-radius: 12px;
	font-size: larger;
	font-weight: bold;
}

.expense-form__submit button:hover {
	background-color: grey;
}

.expense-form__submit button:active {
	background-color: black;
	color: white;
}
