.expenses-wrapper {
	display: flex;
	box-sizing: border-box;
	background-color: rgb(41, 41, 41);
	flex-direction: column;
	justify-content: center;
	width: 100%;
	flex: 0.5 1;
}

.no-expense {
	color: white;
	font-size: large;
	font-weight: bold;
}
